body
{
    padding: 0;
    margin: 0;
}
.admin_en
{
    color: red;
}
.admin_jp
{
    color: black;
}
.admin_zh
{
    color: #FBCDB3;
}
.table
{
    width: 800px;
    margin: 0 auto;
}
.center
{
    text-align: center;
}
